h1{
    font-size: 50px;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-family: BritanicBoldRegular;
}
h2{
    text-align: center;
    font-size: 24px;
    margin:5vh;
    font-family: BritanicBoldRegular;
}

label{
    font-family: BritanicBoldRegular;
}
#container{
    text-align: center;
    border: solid 1px  black;
    border-radius: 20px;
    width: 592px;
    height: 80vh;
    margin:5vw auto;
    padding: 0px 5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
#container input[type=email],input[type=password]{
    width: 390px;
    height: 68px;
    margin: 12px 0px;
    border-radius: 5px;
    padding-left: 1vw;
}
#passwordForgot{
    text-decoration: none;
}
input[type=submit]{
    text-align: center;
    margin: 5vh auto;
    margin-bottom: 70px;
    background-color: #FFDE59;
    height: 40px;
    width: 126px;
    border:none;
    border-radius: 5px;
    font-size: 16px;
    font-family: BritanicBoldRegular;
    cursor: pointer;
}
#inputAndLabel{
    text-align: left;
}
#textPasswordForgot{
    text-align: right;
    margin-right: 3vw;
}